<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
    	<title>{% block title %}{{ SITENAME }}{% endblock %}</title>	
    	<meta name="description" content="{{ DESCRIPTION }}"/>
    	{% block meta_tags %}
    	<meta charset="utf-8">
    	<meta property="og:image" content="">
    	<meta property="og:locale" content="{{ DEFAULT_LANG }}" />
    	<meta property="og:site_name" content="{{ SITENAME }}">
    	<meta property="og:title" content="{{ SITENAME }}" />
    	<meta property="og:url" content="{{ SITEURL }}"/>
    	<meta property="og:description" content=" {{ DESCRIPTION }}" />
    	<meta property="og:type" content="website" />
    	{% endblock meta_tags %}
		  <link rel="icon" type="image/x-icon" href="{{ SITEURL }}/theme/images/favicon.ico">
    	<link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/default.css?v=1.9"/>
        <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/pygment.css"/>
		{% if EASTER_EGG %}
		<script src="{{ SITEURL }}/theme/scripts/rain.js?v=1.3"></script>
		{% endif %}
		{% if GOOGLE_ANALYTICS %}
		<script async src="https://www.googletagmanager.com/gtag/js?id={{ ANALYTICS_ID }}"></script>
		<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', '{{ ANALYTICS_ID }}');
		</script>
		{% endif %}
	</head>
	<body id="background">
		<div id="main"> 

			{% include 'menu.html' %}

            {% block content %}

			{% include 'article_list.html' %}
            
            {% endblock %}
			
			{% include 'footer.html'%}
		</div>
	</body>
</html>
