{% block footer %}
            <div id="footer">
                <div class="footerelement">
                    <p>&copy; 2016-2023 Dylan Cramer</p>
                </div>
                <div class="footerelement">
                    <p>Inspired by the <a href="https://www.graphene-theme.com/">Wordpress Graphene Theme</a>.</p>
                </div>
                <div class="footerelement">
                    <p>Powered by <strong><a href="{{ LINKS[0][1] }}">Pelican</a></strong> and <strong><a href="{{ LINKS[1][1] }}">Jinja</a></strong></p>
                </div>
            </div>
{% endblock %}
